.header{
    display: flex;
    padding: 10px 20px;
    background-color: #0baf19;
    height: 75px;
    &-topbar{
        &__btn{
            position: absolute;
            
        }
        &__left{
            flex: 2;
            position: relative;
            display: flex;
            align-items: center;
            // justify-content: center;
            color: #fff;
            & .p-button{
                position: absolute;
                height: 15px;
                width: 15px;
                right: -5px;
                padding: 2px;
            }
        }
        &__right{
            flex: 10;
            display: flex;
            justify-content: space-between;
            
        }
        &__megamenu .p-megamenu{
            background-color: unset;
            border: unset;
            color: #fff;
            & .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text,  .p-menuitem-icon, .pi-angle-down{
                color: #fff !important;
                
            }
            & .p-megamenu-root-list > .p-menuitem > .p-menuitem-content{
                &:hover{
                    background-color: rgb(111, 230, 121);
                    transition: all .5s ease;
                }
            }
        }
        &__actions-right{
           
        }
        &__actions-list{
           display: flex;
           gap: 20px;
        }
        &__actions-item{
           & .pi{
            font-weight: 600;
            background-color: #23c015;
            padding: 15px;
            border-radius: 50%;
            color: #fff;
            &:hover{
                background-color: rgb(115, 230, 111);
                transition: all .5s ease;
            }
           }
        }

    }
}